@import 'common';

.wp-block-limeguten-banner {
    line-height: $base-line-height;
    padding: $base-spacing;

    label {
        display: block;
        color: map-get( $colors, gray-500 );
        font-size: 13px;
        margin-bottom: 4px;
    }

    .banner-cta {
        border-top: 1px solid map-get( $colors, gray-200 );
        margin-top: $base-spacing;
        padding-top: $base-spacing;
    }

    .editor-plain-text {
        background-color: map-get( $colors, gray-400 );
        color: map-get( $colors, gray-100 );
        font-weight: 700;
        padding: ( $base-spacing / 2 );

        &:hover,
        &:focus {
            background-color: map-get( $colors, gray-500 );
            color: map-get( $colors, gray-100 );
        }
        
        &::-webkit-input-placeholder {
            color: map-get( $colors, gray-100 );
        }

        &::-moz-placeholder {
            color: map-get( $colors, gray-100 );
        }

        &:-ms-input-placeholder {
            color: map-get( $colors, gray-100 );
        }

        &:-moz-placeholder {
            color: map-get( $colors, gray-100 );
        }
    }
    
    .editor-url-input input {
        width: 100%;
    }
}
